@model IEnumerable<User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    @{
         foreach (var user in Model)
         {
             <h4>@user.Name @user.Surname @user.UserName</h4>
             <li><a asp-area="" asp-controller="Admin" asp-action="DeleteUser" >delete user</a></li>
         }
     }
</head>
<body>
<div>
      
</div>
</body>
</html>