@model IEnumerable<User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    @{
         foreach (var user in Model)
         {
             <h4>@user.Name @user.Surname @user.UserName</h4>
             <button class="btn btn-round my-auto mx-auto" 
                     onclick="location.href='@Url.Action("DeleteUser", "Admin", new {userId=user.Id})'">
                             <i class="fa fa-heart"></i>delete user
                           </button>
         }
     }
</head>
<body>
<div>
      
</div>
</body>
</html>