@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    bool bTest = User.IsInRole("Admin");
    if (bTest)
    {
        <h3>IN ROLE</h3>
        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Delete users</a></li>
    }
}