@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
@*     <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right"> *@
@*         <ul class="navbar-nav mr-right"> *@
@*             <li class="nav-item"> *@
@*                 <a class="nav-link"  asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a> *@
@*             </li> *@
@*             <li class="nav-item"> *@
@*                 <button type="submit" class="btn btn-link nav-btn nav-link">Logout</button> *@
@*             </li> *@
@*         </ul> *@
@*     </form> *@
    <h3>Signed in</h3>
    bool bTest = User.IsInRole("Admin");
    if (bTest)
    {
        <h3>IN ROLE</h3>
        <h3>IN ROLE</h3>
        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Register</a></li>
    }
}
else
{
    <h3>not signed in</h3>
@*     <ul class="nav navbar-nav navbar-right"> *@
@*         <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li> *@
@*         <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li> *@
@*     </ul> *@
}