@model IEnumerable<Post>

@* @{ *@
@*     Layout = null; *@
@* } *@

<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body>
<div>
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-12">
            @* todo: read how to use alt="AltText" for searching and so on *@
            <img alt="AltText" src="@Html.DisplayFor(modelItem => item.ImagePath)" 
                 class="img-responsive img-kek"
                 onclick="location.href='@Url.Action("Post", "Home")'">
        </div>
    }
    </div>
</div>
</body>
</html>