@* @model TModel *@

<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="#kek" target="_blank">Creative Tim</a>
          </li>
          <li>
            <a href="#kek" target="_blank">Blog</a>
          </li>
          <li>
            <a href="#kek" target="_blank">Licenses</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>