@* @model TModel *@

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-between" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            @* todo: make icons*@
            <a asp-action="Feed" class="nav-link"><i class=""></i>Feed</a>
          </li>
          <li class="nav-item">
            @* todo: make icons*@
            <a href="#kek" class="nav-link"><i class=""></i>Profile</a>
          </li>
          <li class="nav-item">
            @* todo: make icons*@
            <a href="#kek" class="nav-link"><i class=""></i>Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
