@model User

@{
}

<!DOCTYPE html>

<form action="/Home/CreateUser" method="post">
    <div class="form-horizontal">
        <h4>New user</h4>
        <hr />
        <div class="text-danger"></div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Username">Username: </label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="Username" name="Username" value="keks" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name: </label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="Name" name="Name" value="Sasha" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Surname">Surname: </label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="Surname" name="Surname" value="Shlyapik" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Surname" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Birth" class="control-label"></label>
            <input asp-for="Birth" class="form-control" />
            <span asp-validation-for="Birth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    @* <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Inyxgp63fRFqUePGvuI5jGZsloJu1L7X9le1gy7NCIlSduCRx9jDQClrV9pOTTmqUyXnJBXhmrjcUVDJyDUMm7-MF_9rK8aAZdRdlOri7FmKVkRe_2v5LIHGKFcTjPrWPYnc9AdSbomkiOSaTEg7RU" /> *@
</form>