@model Post

<form action="/Home/CreatePost" method="post">
    <div class="form-horizontal">
        <h4>New post</h4>
        <hr />
        <div class="text-danger"></div>
        @* <input type="hidden" data-val="true" data-val-required="The ID field is required." id="ID" name="ID" value="7" /> *@
        <div class="form-group">
            <label class="control-label col-md-2" for="Description">Description of the post</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="Description" name="Description" value="..." />
                <span class="text-danger field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Type">Post type</label>
            <div class="col-md-10">
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<PostType>()" id="Type"></select>
                <span class="text-danger field-validation-valid" data-valmsg-for="Type" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="AuthorId">Select user</label>
            <div class="col-md-10">
                <div id="AuthorId">
                    @* @Html.DropDownListFor(post => post.UserId, (IEnumerable<SelectListItem>)ViewData["AvailableAuthorIds"])  *@
                </div>
                <span class="text-danger field-validation-valid" data-valmsg-for="AuthorId" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    @* <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Inyxgp63fRFqUePGvuI5jGZsloJu1L7X9le1gy7NCIlSduCRx9jDQClrV9pOTTmqUyXnJBXhmrjcUVDJyDUMm7-MF_9rK8aAZdRdlOri7FmKVkRe_2v5LIHGKFcTjPrWPYnc9AdSbomkiOSaTEg7RU" /> *@
</form>
