@model IEnumerable<Post>

@{
    
}

<a asp-action="CreatePost">Create post</a>
<a asp-action="CreateUser">Create user</a>

@foreach (var post in Model)
{
    <p>
        @Html.DisplayFor(modelItem => post.Description)
    </p>
    <p>
        @ViewData["PetName"]
    </p>
}
